﻿body {
    background-image: url("Images/background.png") ; 
    background-repeat: repeat;
}

.color-green {
    color: #c0b800;
}

.color-orange {
    color: #f8ab30;
}

.color-danger {
    color: #fcd000;
}

h4 {
    font-family: Oswald;
    font-size: 3em;
    color: #f8ab30;
}

.green-label {
    font-family: Oswald;
    font-size: 1em;
    color: #c0b800;
}

.container {  
    width: 35em;
    background: rgba(121, 154, 159, 0.2) url("Images/camera_color.png") bottom right no-repeat;
    background-size: 8em;  
    padding: 2em 2em 8em 2em;
    margin: 2em auto 0 auto;
    border-radius: 4px;
}

a:link, a:visited {
    color: #304244;
}

a:hover {
    color: #1c2c2d;
    text-decoration: none;
}

.btn-blue {
  color: #fff;
  background-color: #304244;
  border-color: #2e6da4;
}
.btn-blue:hover {
  color: #fff;
  background-color: #799a9f;
  border-color: #204d74;
}