﻿@model Mandatory1_MovieCatalog.Models.MovieModel

@Html.ValidationSummary(true, "", new { @class = "color-danger" })
@Html.HiddenFor(model => model.id)

<div class="form-group">
    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-sm-4 green-label" })
    <div class="col-sm-8">
        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Title" } })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "color-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ProductionYear, htmlAttributes: new { @class = "control-label col-sm-4 green-label" })
    <div class="col-sm-8">
        @Html.EditorFor(model => model.ProductionYear, new { htmlAttributes = new { @class = "form-control", placeholder = "Production Year" } })
        @Html.ValidationMessageFor(model => model.ProductionYear, "", new { @class = "color-danger" })
    </div>
</div>


