﻿@model Mandatory1_MovieCatalog.Models.MovieModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    @Html.Partial("_Styles")
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <div class="container">
        <h4 class="col-sm-offset-4 col-sm-8">MovieModel</h4>

        @using (Html.BeginForm("CreateConfirmed", "Movie"))
        {
            <div class="form-horizontal">

                @Html.Partial("_MovieForm")

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-10">
                        <input type="submit" value="Create" class="btn btn-primary btn-blue" />
                    </div>
                </div>
            </div>
        }

            <div class="col-sm-offset-4 col-sm-8 green-label">
                @Html.ActionLink("Back to List", "Index")
            </div>
    </div>
</body>
</html>
