﻿@model Mandatory1_MovieCatalog.Models.MovieModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>MovieModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ProductionYear)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProductionYear)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm("DeleteConfirmed", "Movie")) {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.id)

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
